<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <div>
        <a href="/index">Home</a>
    </div>
    <hr/>
    <div>Anquette:</div>
    <form action="#" th:action="@{/secured/updateuser}" th:object="${anquetteForm}" method='POST'>
        <table>
            <tr>
                <th>Email:</th>
                <td><p th:text="${anquetteForm.email}"></p></td>
            </tr>
            <tr>
                <th>Last name:</th>
                <td><input type='text' th:field="*{lastName}"  /></td>
            </tr>
            <tr>
                <th>First name:</th>
                <td><input type='text' th:field="*{firstName}"  /></td>
            </tr>
            <tr>
                <th>Age:</th>
                <td><input type='text' th:field="*{age}"  /></td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td><select th:field="*{gender}">
                        <option value="1">male</option>
                        <option value="2">female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>City:</th>
                <td><input type='text' th:field="*{cityName}"  /></td>
            </tr>
            <tr>
                <th>Interests:</th>
                <td><input type='text' th:field="*{interestsAsString}" /> (comma delimited)</td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="Update" /></td>
            </tr>
        </table>
    </form>
    <hr/>
    <div>My friends:</div>
    <table>
        <tr>
            <th>Email</th>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>actions</th>
        </tr>
        <tr th:each="friend : ${myFriends}">
            <td><a th:href="@{'/view/' + ${friend.id}}"><span th:text="${friend.email}"/></a></td>
            <td><span th:text="${friend.lastName}"/></td>
            <td><span th:text="${friend.firstName}"/></td>
            <td><a th:href="@{'/removeFromFriendsAnquette/' + ${friend.id}}">remove from friends</a></td>
        </tr>
    </table>

    <hr/>
    <div>I am a friend of:</div>
    <table>
        <tr>
            <th>Email</th>
            <th>Lastname</th>
            <th>Firstname</th>
        </tr>
        <tr th:each="friend : ${friendsOf}">
            <td><a th:href="@{'/view/' + ${friend.id}}"><span th:text="${friend.email}"/></a></td>
            <td><span th:text="${friend.lastName}"/></td>
            <td><span th:text="${friend.firstName}"/></td>
        </tr>
    </table>
</body>
</html>