<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

</head>
<body>
    <div>
        <a href="/index">Home</a>
    </div>
    <hr/>
    <h1>Login</h1>
    <div>
        <span th:text="${errorMessage}" />
    </div>
    <form name="frmLogin" action="/dologin" method='POST'>
        <table>
            <tr>
                <td>Email:</td>
                <td><input type='text' name='username' value=''></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password' /></td>
            </tr>
            <tr>
                <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>